<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsForms.Properties.Settings>
            <setting name="CurrentFont" serializeAs="String">
                <value>Microsoft Sans Serif, 48pt</value>
            </setting>
            <setting name="BackColorLabel" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
            <setting name="CurrentForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </WindowsForms.Properties.Settings>
    </userSettings>
</configuration>